@font-face {
    font-family: "GR";
    src: url(./Fonts/Gilroy-Regular.ttf);
}

@font-face {
    font-family: "GM";
    src: url(./Fonts/Gilroy-Medium.ttf);
}

@font-face {
    font-family: "KJ";
    src: url(./Fonts/Kajiro\ Bold.ttf);
}

@font-face {
    font-family: GSB;
    src: url(./Fonts/Gilroy-SemiBold.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: "GM";
}

#main{
    width: 100%;
    height: 100vh;
}

#back{
    width: 100%;
    height: 100vh;
}

#back img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#top{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* background-color: rgb(0, 0, 0); */
}

#workingarea{
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    max-width: 1920px;
    /* border: 1px dotted red; */
    position: relative;
}


nav{
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
}
nav img{
    height: 60px;

}

#nleft{
    display: flex;
    align-items: center;
    gap: 40px;
}

nav a{
    pointer-events: all;
    color: white;
    font-family: "GSB";
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
}

#nright{
    display: flex;
    align-items: center;
    gap: 40px;
}

#hero{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%,-50%);
}

#heroleft{
    min-width: 50%;
}

#heroleft .elem{
    position: relative;
    height: 7vw;
    overflow: hidden;
    /* background-color: red; */

}

#heroleft .elem h1:nth-child(1){
    top: 0;
}

#heroleft .elem h1{
    position: absolute;
    top: 100%;
    left: 0;
    line-height: .9;
    font-family: "KJ";
    color: white;
    font-weight: 100;
    font-size: 9vw;

}

#heroleft button{
    cursor: pointer;
    pointer-events: all;
    padding :0.5vw 2vw;
    margin-top: 2vw;
    font-size: 3vw;
    font-family: "KJ";
    border:  none;
    
}

#heroleft button:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

#heroright{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 17%;
    color: white;
}


#heroright p{
    text-align: right;
    font-size: 14px;
}

#heroright #image{
    width: 100%;
    height: 170px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-image: url(https://images.unsplash.com/photo-1527203561188-dae1bc1a417f?q=80&w=1015&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position:center;
}

#heroright p:nth-child(3){
    margin-bottom: 100px;
}
